[Desktop Entry]
Encoding=UTF-8
Name=Opalcoin
Comment=Opalcoin P2P Cryptocurrency
Comment[fr]=Opalcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Opalcoin, eşten eşe kriptografik sanal para birimi
Exec=opalcoin-qt %u
Terminal=false
Type=Application
Icon=opalcoin128
MimeType=x-scheme-handler/opalcoin;
Categories=Office;Finance;
