[Unit]
Description=Opalcoin's distributed currency daemon
After=network.target

[Service]
User=opalcoin
Group=opalcoin

Type=forking
PIDFile=/var/lib/opalcoind/opalcoind.pid
ExecStart=/usr/bin/opalcoind -daemon -pid=/var/lib/opalcoind/opalcoind.pid \
-conf=/etc/opalcoin/opalcoin.conf -datadir=/var/lib/opalcoind -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
